#panel {
width: 400px;
margin: 0 auto;
padding: 15px 0 0;
background: #fff;
border: 1px solid silver;
font: 16px calibri;
letter-spacing: -1px;
-webkit-box-shadow: 0 0 2px silver;
-moz-box-shadow: 0 0 2px silver;
box-shadow: 0 0 2px silver;
}
form {
margin: 0;
}

label {
display: block;
width: auto;
padding: 10px 20px;
color: #696969;
font-size: 16px;
text-shadow: 0 0 1px silver;
text-align: center;
}

alert{
  background: white;
}

#username, #password {
text-align: center;
display: block;
width: auto;
margin: 0 auto;
padding: 10px 5px;
border: 1px solid silver;
outline: 5px solid #ebebeb;
font-size: 22px;
}
#username:focus, #password:focus {
outline: 5px solid #e5f2f8;
}

#lower {
width: 80px;
background: #2C3E50;
width: auto;
padding: 5px 40%;
margin-top: 20px;
}

input[type="submit"] {
padding: 5px 13px;
border: 1px solid white;
color: white;
background: #2C3E50;
}

input[type="submit"]:hover{
   color:#D0D0D0;
   background: white;
}


#panel, input[type="submit"] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media (max-width: 368px) {
   #panel{
   width:96%;
   }
}