<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio">
    <meta name="author" content="Piotr Gałkowski">

    <title>Portfolio - Piotr Gałkowski</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->

</head>

<body id="page-top" class="index">

<div id="skipnav" style=""><a href="#maincontent">Skip to main content</a></div>
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <div th:if ="${success}" id="success" class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Dziękuje za kontakt, wiadomość została wysłana pomyślnie!
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">Portfolio</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#about">O mnie</a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->

</nav>

<!-- Header -->
<header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <img src="img/profile.png" class="img-responsive img-thumbnail" alt="Profiles Photo">
                <div class="intro-text">
                    <h1 class="name">Piotr Gałkowski</h1>
                    <hr>
                    <span class="skills" >Junior Java Developer</span><br><br>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>O mnie</h2><br>
            </div>
        </div>
        <th:block th:each="aboutMe: ${about}">
            <div class="row">
                <div>
                    <p th:text="${aboutMe.description}"></p>
                </div>
            </div>
        </th:block>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section class="port" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Moje projekty</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <th:block th:each="project : ${projects}">
                <div class="col-sm-4 portfolio-item">
                    <p th:text="${project.name}"></p>
                    <a th:href="'#' + ${project.id}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img th:src="'img/portfolio/' + ${project.image} + '.png'" class="img-responsive" alt="Project Photo" style="">
                    </a>
                </div>
            </th:block>
        </div>
    </div>
</section>


<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Formularz kontaktowy</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form action="/" th:action="@{/}" method="post" th:object="${contactForm}">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="name">Imię / Nazwa</label>
                            <input type="text" th:field="*{name}" class="form-control" placeholder="Imię, Nazwisko / Nazwa firmy" id="name" required data-validation-required-message="Wprowadź imię, nazwisko lub nazwę firmy">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="email">Adres e-mail</label>
                            <input type="email" th:field="*{email}" class="form-control" placeholder="Adres e-mail" id="email" required data-validation-required-message="Wprowadź adres e-mail">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="phone">Numer telefonu</label>
                            <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="Numer telefonu" id="phone" required data-validation-required-message="Wprowadź numer telefonu">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="message">Wiadomość</label>
                            <textarea rows="5" th:field="*{message}" class="form-control" placeholder="Wiadomość" id="message" required data-validation-required-message="Wpisz wiadomość"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">Wyślij</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Lokalizacja</h3>
                    <p>Kraśnik, Polska</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Znajdź mnie</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/PiotrGalkowski" target="_blank" class="btn-social btn-outline"><span class="sr-only">GitHub</span><i class="fa fa-git"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=100011012685477" target="_blank" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/piotr-gałkowski-279113141/" target="_blank" class="btn-social btn-outline"><span class="sr-only">LinkedIn</span><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Logowanie</h3>
                    <ul class="list-inline">
                        <li>
                            <a th:href="@{/login}" class="btn-social btn-outline"><span class="sr-only">Panel Administratora</span><i class="fa fa-cogs"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Portfolio Piotr Gałkowski 2017<a href="https://startbootstrap.com/" target="_blank"> Bootstrap</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<th:block th:each="project : ${projects}">
    <div class="portfolio-modal modal fade" th:id="${project.id}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 th:text = "${project.name}"></h2>
                            <hr class="star-primary">
                            <img th:src = "'img/portfolioNext/' + ${project.image} + '.png'" class="img-responsive img-centered" alt="">
                            <p th:text="${project.description}"></p>
                            <br class="list-inline item-details">
                                <li>Technologie:
                                    <strong><a th:text="${project.technologies}"></a>
                                    </strong>
                                </li>
                                <p><li>Github:
                                    <strong><a href="https://github.com/PiotrGalkowski" th:text="${project.name}"></a>
                                    </strong>
                                </li></p>
                                <br>
                                <li>Data:
                                    <strong><a th:text="${project.date}"></a>
                                    </strong>
                                </li>
                            </ul>
                            <br>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</div>

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="js/freelancer.min.js"></script>

</body>

</html>